body {
    font-family: 'Montserrat', sans-serif; /* Establecer la fuente */
    background-color: black; /* Fondo negro */
    color: white; /* Texto blanco */
    margin: 0; /* Sin margen */
    padding: 0; /* Sin relleno */
    scroll-behavior: smooth; /* Desplazamiento suave */
}

.container {
    max-width: 2000px; /* Ancho máximo para centrar el contenido */
    margin: 10px auto; /* Margen automático para centrar */
    padding: 10px; /* Relleno interno */
}

input[type="number"] {
    color: white; /* Texto blanco */
    background-color: black; /* Fondo negro para los inputs */
    border: 1px solid white; /* Bordes blancos */
    outline: none; /* Sin contorno al seleccionar */
    padding: 5px; /* Espaciado interno */
}

/* Estilos para los botones */
.btn {
    margin: 10px 0; 
    background-color: rgb(252, 188, 29); /* Color inicial (amarillo) */
    color: black; /* Color del texto */
    padding: 10px 15px; /* Espaciado interno */
    cursor: pointer; /* Cambiar el cursor al pasar el ratón */
    text-decoration: none; /* Sin subrayado */
    border: none; /* Sin borde */
    border-radius: 5px; /* Esquinas redondeadas */
    transition: background-color 0.3s, color 0.3s, transform 0.1s; /* Efecto de transición */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Sombra sutil */
}

/* Efecto hover */
.btn:hover {
    background-color: black; /* Fondo negro al pasar el ratón */
    color: white; /* Texto blanco */
    transform: scale(1.05); /* Aumentar ligeramente el tamaño */
}

/* Efecto al hacer clic */
.btn:active {
    transform: scale(1); /* Vuelve al tamaño original al hacer clic */
}

/* Para los botones tipo <a> con la clase .btn */
a.btn {
    display: inline-block; /* Asegura que el enlace se comporte como un bloque para estilizarlo como un botón */
}

/* Enlace "Regresar al menú" sin botón, solo texto */
.btn-back {
    color: white; /* Color del enlace */
    text-decoration: none; /* Sin subrayado */
    position: absolute; /* Coloca el enlace en la parte superior */
    top: 20px; /* Espacio desde la parte superior */
    left: 20px; /* Espacio desde la izquierda */
}

.btn-back:hover {
    text-decoration: underline; /* Subrayar al pasar el ratón */
}

#result {
    color: rgb(252, 188, 29); /* Color del resultado */
}